<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="probando.cosas">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Parcial"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:theme="@style/Theme.AppCompat.Light">
        <activity android:name=".Hilos"
            android:parentActivityName=".Probando">

        </activity>
        <activity
            android:name=".PasarParcelable"
            android:parentActivityName=".Probando"></activity>
        <activity
            android:name=".MostrarNotificacion1"
            android:parentActivityName=".Probando" />
        <activity android:name=".Probando">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".Notificacion"
            android:exported="true" />
    </application>

</manifest>